.footer{
    min-height: 50vh;
    background-color: rgb(31, 1, 31);
    color: white;
}
.pad{
    padding: 50px 0 ;
}
.footer a{
    text-decoration: none;
}
.quick  p,.cat p,.recent p{
    text-align: left;
    margin-bottom: 8px;
    text-decoration: none;
}
.footer h5{
    margin-bottom: 30px;
    background-color: rgb(97, 51, 18);
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin-bottom: 30px;
}